<!DOCTYPE html>
<html lang="en">

<!-- ============================================================== -->
<!-- Header -->
<!-- ============================================================== -->
<head>
    <meta charset="utf-8">
    <script src="/static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/static/js/highchartsv6.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/custom_highcharts.css">
</head>

<!-- ============================================================== -->
<!-- Body -->
<!-- ============================================================== -->
<body style="overflow:hidden">

    <!-- ============================================================== -->
    <!-- Empty container -->
    <!-- ============================================================== -->
    <div id="container"> </div>


    <!-- ============================================================== -->
    <!-- Where the magic happens -->
    <!-- ============================================================== -->
    <script type="text/javascript">

        // BEGIN chart styling
        Highcharts.theme = {
            colors: ['#eb8527','#FFCA3D', '#babbbd', '#2e86ab', '#d20c0f'],
            chart: {
                backgroundColor:'#ffffff',
            },
            title: {
                style: {
                    color: '#000000',
                    fontWeight: 'bold'
                }
            },
            subtitle: {
                style: {
                    color: '#000000',
                }
            },
            xAxis: {
                gridLineColor: '#000000',
                lineColor: '#000000',
                minorGridLineColor: '#000000',
                tickColor: '#000000',
                plotLines: [{
                    color: '#000000'
                }],
                labels: {
                    style: {
                        color: '#000000',
                    }
                }
            },
            yAxis: [{
                gridLineColor: '#000000',
                lineColor: '#000000',
                minorGridLineColor: '#000000',
                tickColor: '#000000',
                plotLines: [{
                    color: '#000000'
                }],
                labels: {
                    style: {
                        color: '#000000',
                    }
                }
            }],
            lang: {
                thousandsSep: ','
            }
        };
        Highcharts.setOptions(Highcharts.theme);

        // BEGIN chart template
        var chart = new Highcharts.Chart('container', {

            credits: {
                enabled: false
            },
            chart: {
                type: 'column'
            },
            title: {
                // text: 'Monthly Average Rainfall' (set via JS)
            },
            subtitle: {
                // text: 'Source: WorldClimate.com' (set via JS)
            },
            xAxis: {
                /*categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],*/ // (set via JS - not anymore)
                title: {
                   // text: 'Month' (set via JS)
                   style: {
                        color: '#ffffff'
                    }
                },
                crosshair: true,
                type: 'datetime'
            },
            yAxis: {
                title: {
                   // text: 'Rainfall (mm)' (set via JS)
                   style: {
                        color: '#ffffff'
                    }
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:12px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [/*{
                name: 'Tokyo',
                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

            }, {
                name: 'New York',
                data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

            }*/], // (set via JS - length of each data array must match number of categories)
            legend: {
                backgroundColor: 'rgba(255,255,255,0.8)'
            }

        });
         // END chart template
    function lightModeChart(){
        chart.update({
            chart: {
                backgroundColor:'#ffffff',
            },
            title: {
                style: {
                    color: '#000000',
                }
            },
            subtitle: {
                style: {
                    color: '#000000',
                }

            },
            xAxis: {
                gridLineColor: '#000000',
                lineColor: '#000000',
                minorGridLineColor: '#000000',
                tickColor: '#000000',
                plotLines: [{
                    color: '#000000'
                }],
                labels: {
                    style: {
                        color: '#000000',
                    }
                },          
                
                title: {
                    style: {
                        color: '#000000',
                    },
                }
            },
            yAxis: [{
                gridLineColor: '#000000',
                lineColor: '#000000',
                minorGridLineColor: '#000000',
                tickColor: '#000000',
                plotLines: [{
                    color: '#000000'
                }],
                
                title: {
                    style: {
                        color: '#000000',
                    },
                },
                labels: {
                    style: {
                        color: '#000000',
                    }
                }
            }],
            legend: {
                backgroundColor: 'rgba(0,0,0,0.4)',
                itemStyle:{
                    color: '#ffffff'
                } 
            },
        })
    }
    function darkModeChart(){
    chart.update({
            chart: {
                backgroundColor:'#ffffff',
            },
            title: {
                style: {
                    color: '#000000',
                }
            },
            subtitle: {
                style: {
                    color: '#000000',
                }

            },
            xAxis: {
                gridLineColor: '#000000',
                lineColor: '#000000',
                minorGridLineColor: '#000000',
                tickColor: '#000000',
                plotLines: [{
                    color: '#000000'
                }],
                labels: {
                    style: {
                        color: '#000000',
                    }
                },          
                
                title: {
                    style: {
                        color: '#000000',
                    },
                }
            },
            yAxis: [{
                gridLineColor: '#000000',
                lineColor: '#000000',
                minorGridLineColor: '#000000',
                tickColor: '#000000',
                plotLines: [{
                    color: '#000000'
                }],
                
                title: {
                    style: {
                        color: '#000000',
                    },
                },
                labels: {
                    style: {
                        color: '#000000',
                    }
                }
            }],
            legend: {
                backgroundColor: 'rgba(0,0,0,0.4)',
                itemStyle:{
                    color: '#ffffff'
                } 
            },
        })
    }

    </script>

</body>
</html>