[Unit]
Description=Celery Beat Service
After=network.target

[Service]
Type=simple
User=django
Group=django
EnvironmentFile=/etc/celery/celery.env
EnvironmentFile=/home/django/django_project/.env
WorkingDirectory=/home/django/django_project

#ExecStart=/bin/sh -c '/home/django/bl_venv_python3.6/bin/python manage.py celery beat \
#  -A ${CELERY_APP} --pidfile=${CELERYBEAT_PID_FILE} \
#  --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}'

ExecStart=/bin/sh -c '${CELERY_BIN} beat  \
  -A ${CELERY_APP} --pidfile=${CELERYBEAT_PID_FILE} \
  --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}'

[Install]
WantedBy=multi-user.target
