*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
.settings
tmp/*
*.swp
*~
*.mo
*.log
*.db
db/*
config/settings/local.py
config/settings/base.py
circleci/config.yml
.circleci/config.yml
*.circleci/config.yml
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
static/*
smedia/
.idea/
.vscode/
.ropeproject/
#.circleci/*
*.pyc
*.crt
*.key
*/migrations/*.py
*.pyc
*.pyc
venv
.tags
.tags1
blocklight_env/*
blocklight_env_temp/*
docker-volumes/*
django_project/config.json
logs.log
*.env
env_*
celerybeat-schedule
/layout/src_react/node_modules/
/layout/static/js/react-bundle.js
settings.json
log
