{% extends "_layouts/loggedin.html" %}
{% load avatar_tags %}
{% load blocklight_tags %}
{% load static %}
{% block leftbar %}
{% include "layout/leftsidebar.html" %}
{% endblock %}

<!-- ============================================================== -->
<!-- Main page content -->
<!-- ============================================================== -->
{% block content %}

<div class="wrapper-page">
    <!-- Hide page until top navbar can be hidden -->
    <div class="spinner-wrapper" style="background-color: #f7f7f7">
        <div class="bubblingG">
            <span id="bubblingG_1"></span>
            <span id="bubblingG_2"></span>
            <span id="bubblingG_3"></span>
        </div>
    </div>
    <!-- Main content -->
    <div class="signup-background countdown-background">
        <section class="login" id="login">
            <div class="container-fluid">
                <!-- Intro text -->

                <h4 style="color:block; text-align: center; font-weight: 500; line-height: 30px;">
                    Please enter the details below:
                </h4>
                <!-- Form -->
                <form class="form input-group" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if form.errors %}
                   {% for field in form %}
                       {% for error in field.errors %}
                           <div class=“alert alert-danger” align=“center”>
                               <strong>{{ error|escape }}</strong>
                           </div>
                       {% endfor %}
                   {% endfor %}
                   {% for error in form.non_field_errors %}
                       <div class=“alert alert-danger” align=“center”>
                           <strong>{{ error|escape }}</strong>
                       </div>
                   {% endfor %}
                   {% endif %}
                    <div class="login-btns">
                        <button class="btn_orange"" type="submit">Change</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

{% endblock content %}

<!-- ============================================================== -->
<!-- Hide parts of the page -->
<!-- ============================================================== -->
{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        // Top navbar
        $(".topbar").css('display', 'none');
        // Helping text
        $("ul").css('display', 'none');
        // Spinner
        $(".bubblingG").fadeOut();
        $(".spinner-wrapper").delay(200).fadeOut("slow");
    });
</script>
{% endblock js %}
