{% extends "_layouts/loggedin.html" %} {% load blocklight_tags %} {% load static %} {% block leftbar %} {% get_social_navbar user %} {% endblock %} {% block content %}
<!DOCTYPE html>

<!-- ============================================================== -->
<!-- Header -->
<!-- ============================================================== -->
<html lang="en">

<head>
</head>
<!-- CSS moved to style2.css -->

<!-- ============================================================== -->
<!-- Start page -->
<!-- ============================================================== -->

<body style="padding-top: 70px">

    <!-- Main part of page -->

    <!-- Dark theme -->
    {% if theme_color == 'dark' %}
    <div class="content-page theme-body" style="min-height: 100vh">
        <!-- Light theme -->
        {% else %}
        <div class="content-page light-theme-body" style="min-height: 100vh">
            {% endif %}
            <!-- Dashboard selection row -->
            <div class="row">

                <div id="dash-header-menu"></div>

                <!-- Main content area -->
                <div class="content">
                    <!-- Gridstack area -->
                    <div class="row">
                        <div class="container-fluid dashboard-container" style="margin-left: 50px">
                            <div id="grid" style="width: 95vw">
                                <!-- Content filled via JS -->
                            </div>
                        </div>
                    </div>
                </div>

                {% endblock content %}
                {% block js %}
                <script type="text/javascript" async>
                    var verbose = location.hostname == '127.0.0.1' ? true : false;
                    //var verbose = false;
                    var initial_data = {};
                    var has_account = {};
                    var has_value = {};
                    var has_num = {};
                    var all_chart_containers = [];
                    var loaded_chart_containers = [];
                    var chart_positions = {};
                    var widget_to_delete = '';
                    var blocklight_data = true;
                    var movedWidget = "";
                    var destinationDash = "";
                    var chartID = [];
                    var chartHeader = [];
                    var chartType = [];
                    var selectedCharts = [];
                    var chart_id_metrics = {};
                    var load_count = 0;
                    var initial_load_complete = [];
                    var chartsInfo = [];
                    var chartUpdated = {};
                    var currentDash = '';
                    const widget_charts = JSON.parse('{{chartlist_json|escapejs}}');
                    const chart_data_url = "{% url 'chart_data_json' %}"
                    const save_chart_url = "{% url 'save_chart_positions' %}"
                    const chart_feedback_url = "{% url 'chart_feedback' %}"
                    const new_chart_options_url = "{% url 'request_new_chart_options' %}";
                    const rename_url = "{% url 'rename_dashboard' %}";
                    var deletedDashes = [];
                    var dashboards = [];

                    {% for dashboard in dashboards %}
                    dashboards.push({
                            title: '{{dashboard.title}}',
                            id: '{{dashboard.id}}',
                            tab_index: '{{dashboard.tab_index}}'
                        }) // made an object of the items
                        {% endfor %}
                        
                    dashboards.map(dash => {
                        if (window.location.href.indexOf(dash.id) > -1) {
                            currentDash = dash.id; //current slug
                        }
                    })

                    console.log('{{deleted_stock | length}}')
                {% if deleted_stock|length > 0 %} {% for dash in deleted_stock %}
                    deletedDashes.push({title:'{{dash.title}}', id: '{{dash.id}}' })
                    console.log(deletedDashes)
                {% endfor %} {% endif %}
                </script>
                {% endblock js %}