{% extends "_layouts/domain_landing.html" %}
{% block page_class %}about-page{% endblock %}

<!-- Updated Page Blocks -->
{% block page_title %}About Us - Blocklight{% endblock %}

<!-- Updated Meta Data Blocks -->
{% block title %}<meta name="title" content="About Us - Blocklight"/>{% endblock %}
{% block description %}<meta name="description" content="We help e-commerce stores manage their business and grow their brands with intelligent, affordable tools. - Blocklight" />{% endblock %}
{% block facebook-url %}<meta property="og:url" content="https://blocklight.io/about/"/>{% endblock %}
{% block facebook-title %}<meta property="og:title" content="About Us - Blocklight"/>{% endblock %}
{% block facebook-description %}<meta property="og:description" content="Blocklight is a powerful data and analytics platform for small and medium e-commerce businesses. We help you grow your business and visualize all your business data in one place."/>{% endblock %}
{% block twitter-title %}<meta name="twitter:title" content="About Us - Blocklight">{% endblock %}
{% block twitter-description %}<meta name="twitter:description" content="Blocklight is a powerful data and analytics platform for small and medium e-commerce businesses. We help you grow your business and visualize all your business data in one place.">{% endblock %}

{% block content %}
<!-- Start Content -->
<!-- Pre-Loader-->
<div class="spinner-wrapper">
    <div class="bubblingG">
        <span id="bubblingG_1"></span>
        <span id="bubblingG_2"></span>
        <span id="bubblingG_3"></span>
    </div>
</div>
<!-- End Pre-Loader -->

<section class="about-about about-background supporting-top-img" id="main">
    <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s"
        style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
        <div class="row about-body" id="main-body">
            <div class="about-support">
                <h2>WE'RE IN THE AGE OF ANALYTICS</h2>
                <h5>Knowledge is power. If you deeply understand your business, you can react quicker and
                    be more informed when making choices. We want to help you with that.
                </h5>
            </div>
        </div>
    </div>
</section>

<!-- /////////////////////////////////////////////////////////////// -->
<!-- HISTORY SECTION -->
<!-- /////////////////////////////////////////////////////////////// -->

<section class="history history-background" id="history">
    <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s"
        style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
        <div class="row history-body" id="main-body">

            <h1>OUR CUSTOMER</h1>
            <div class="history-support">
                <h4>
                    It takes an exhausting few years to build a successful e-commerce business from the ground up.
                    Transforming a talent into a great brand is no easy feat, nonetheless scaling to a point of
                    consistently meeting demand as you find success. We recognized the lack of quality, affordable
                    data analytics tools specifically for e-commerce, making this transformation from talent to
                    brand even more difficult. That's why we built the Blocklight Analytics Platform - to help
                    online businesses sell more, easier.
                    <br> <br>
                    Blocklight officially formed on March 8, 2018. Today, a talented core team, along with many
                    skilled designers, developers, advisors, and partners, are working to bring Blocklight's
                    unique offering to the world.
                    <br><br>
                    Start using the Blocklight Analytics Platform and grow your business now! Sign up <a
                        href="/beta_signup">here</a>
                    if you'd like to become a beta tester.
                </h4>
            </div>
            <div class="pricing-btn-row">
                <a href="https://www.youtube.com/watch?v=Whck1NJFLrk" target="_blank">
                    <button class="blocklight-btn roadmap-btn">Watch Our Video</button>
                </a>
                <a href="/roadmap/" >
                    <button class="blocklight-btn roadmap-btn">View Our Roadmap</button>
                </a>
                <a href="/blog">
                    <button class="blocklight-btn roadmap-btn">Read Our Blog</button>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- /////////////////////////////////////////////////////////////// -->
<!-- OUR TEAM SECTION -->
<!-- /////////////////////////////////////////////////////////////// -->

<section class="team" id="team">

    <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s"
        style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">

        <h1>OUR TEAM</h1>
        <div class="row team-body-new">

            <!-- Row 1 -->
            <!-- Justin 
            <div class="team-member">
                <div class="view view-first center-block">

                    <div class="mask">
                        <ul class="nav">
                            <li>
                                <a href="https://www.linkedin.com/in/justindarnold/" class="team-social">
                                    <i class="fa linkedin fa-linkedin-square team-social"></i>
                                </a>
                            </li>
                            <li>
                              <a href="https://angel.co/justin-arnold-1" class="team-social">
                                <i class="fa linkedin fa-angellist team-social"></i>
                              </a>
                            </li>
                        </ul>
                    </div>
                    <img class="center-block" src="/static/images/justin.png" alt="">

                </div>
                <div class="clearfix"></div>
                <h3>Justin Arnold</h3>
                <p>Founder, CEO</p>
            </div>
            -->

            <!-- Christian -->
            <div class="team-member">
                <div class="view view-first center-block">

                    <div class="mask">
                        <ul class="nav">
                            <li>
                              <a href="https://www.linkedin.com/in/christianfernandezbranding/" class="team-social">
                                <i class="fa linkedin fa-linkedin-square team-social"></i>
                              </a>
                            </li>
                        </ul>
                    </div>
                    <img class="center-block" src="/static/images/christian.png" alt="">

                </div>
                <div class="clearfix"></div>
                <h3>Christian Fernandez</h3>
                <p>Social Media & Marketing</p>
            </div>

            <!-- Julia -->
            <div class="team-member">
                <div class="view view-first center-block">

                    <div class="mask">
                        <ul class="nav">
                            <li>
                                <a href="https://www.linkedin.com/in/julia-etman/" class="team-social">
                                  <i class="fa linkedin fa-linkedin-square team-social"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img class="center-block" src="/static/images/julia.jpg" alt="">

                </div>
                <div class="clearfix"></div>
                <h3>Julia Etman</h3>
                <p>Marketing & Sales</p>
            </div>

            <!-- Jasmine -->
            <div class="team-member">
                <div class="view view-first center-block">

                    <div class="mask">
                        <ul class="nav">
                            <li>
                                <a href="https://www.linkedin.com/in/jasminelee00/" class="team-social">
                                  <i class="fa linkedin fa-linkedin-square team-social"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img class="center-block" src="/static/images/jasmine.jpg" alt="">

                </div>
                <div class="clearfix"></div>
                <h3>Jasmine Lee</h3>
                <p>Marketing & Sales</p>
            </div>

            <!-- Maxwell -->
            <div class="team-member">
                <div class="view view-first center-block">

                    <div class="mask">
                        <ul class="nav">
                            <li>
                                <a href="https://www.linkedin.com/in/maxwell-jones-a0458a193/" class="team-social">
                                  <i class="fa linkedin fa-linkedin-square team-social"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img class="center-block" src="/static/images/maxwell.jpg" alt="">

                </div>
                <div class="clearfix"></div>
                <h3>Maxwell Jones</h3>
                <p>Marketing & Sales</p>
            </div>

            <!-- Mark -->
            <div class="team-member">
                <div class="view view-first center-block">

                    <div class="mask">
                        <ul class="nav">
                            <li>
                                <a href="https://www.linkedin.com/in/markpragides/" class="team-social">
                                  <i class="fa linkedin fa-linkedin-square team-social"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img class="center-block" src="/static/images/mark.png" alt="">

                </div>
                <div class="clearfix"></div>
                <h3>Mark Pragides</h3>
                <p>UI / UX Design</p>
            </div>

            <!-- Aakef -->
            <div class="team-member">
                <div class="view view-first center-block">

                    <div class="mask">
                        <ul class="nav">
                            <li>
                                <a href="https://www.linkedin.com/in/aakef-waris/" class="team-social">
                                  <i class="fa linkedin fa-linkedin-square team-social"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img class="center-block" src="/static/images/aakef.jpeg" alt="">

                </div>
                <div class="clearfix"></div>
                <h3>Aakef Waris</h3>
                <p>Software Development</p>
            </div>

            <!-- Gavin -->
            <div class="team-member">
                <div class="view view-first center-block">

                    <div class="mask">
                        <ul class="nav">
                            <li>
                                <a href="https://www.linkedin.com/in/gavin-newcomer/" class="team-social">
                                  <i class="fa linkedin fa-linkedin-square team-social"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img class="center-block" src="/static/images/Gavin1.jpg" alt="">

                </div>
                <div class="clearfix"></div>
                <h3>Gavin Newcomer</h3>
                <p>Software Development</p>
            </div>

            <!-- Henry -->
            <div class="team-member">
                <div class="view view-first center-block">

                    <div class="mask">
                        <ul class="nav">
                            <li>
                                <a href="https://www.linkedin.com/in/chonhenry/" class="team-social">
                                  <i class="fa linkedin fa-linkedin-square team-social"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img class="center-block" src="/static/images/henry.jpg" alt="">

                </div>
                <div class="clearfix"></div>
                <h3>Henry Chon</h3>
                <p>Software Development</p>
            </div>

            <!-- Ali -->
            <div class="team-member">
                <div class="view view-first center-block">

                    <div class="mask">
                        <ul class="nav">
                            <li>
                                <a href="https://www.linkedin.com/in/ali-hammoud-02301b153/" class="team-social">
                                  <i class="fa linkedin fa-linkedin-square team-social"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img class="center-block" src="/static/images/ali-hammoud.jpg" alt="">

                </div>
                <div class="clearfix"></div>
                <h3>Ali Hammoud</h3>
                <p>Software Development</p>
            </div>


        <h1>OUR ADVISORS</h1>
        <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s"
            style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
            <div class="row team-body-new">

                <!-- Tom -->
                <div class="team-member">

                    <div class="view view-first center-block">

                        <div class="mask">
                            <ul class="nav">

                                <li><a href="https://www.linkedin.com/in/tomalexander19/" class="team-social"> <i
                                            class="fa linkedin fa-linkedin-square team-social"></i> </a></li>
                            </ul>
                        </div>
                        <img class="center-block" src="/static/images/tom.png" alt="">

                    </div>
                    <div class="clearfix"></div>
                    <h3>Tom Alexander</h3>
                    <p>Business</p>
                </div>

                <!-- Taylor -->
                <div class="team-member">
                    <div class="view view-first center-block">

                        <div class="mask">
                            <ul class="nav">

                                <li><a href="https://www.linkedin.com/in/taylorgaines/" class="team-social"> <i
                                            class="fa linkedin fa-linkedin-square team-social"></i> </a></li>
                            </ul>
                        </div>
                        <img class="center-block" src="/static/images/taylor.png" alt="">

                    </div>
                    <div class="clearfix"></div>
                    <h3>Taylor Gaines</h3>
                    <p>Marketing</p>
                </div>

                <!-- Joe -->
                <div class="team-member">
                    <div class="view view-first center-block">

                        <div class="mask">
                            <ul class="nav">

                                <li><a href="https://www.linkedin.com/in/disruptionjoe/" class="team-social"> <i
                                            class="fa linkedin fa-linkedin-square team-social"></i> </a></li>
                            </ul>
                        </div>
                        <img class="center-block" src="/static/images/joe.png" alt="">

                    </div>
                    <div class="clearfix"></div>
                    <h3>Joe Hernandez</h3>
                    <p>Blockchain</p>
                </div>
        

                <!-- Andrew -->
                <div class="team-member">
                    <div class="view view-first center-block">

                        <div class="mask">
                            <ul class="nav">

                                <li><a href="https://www.linkedin.com/in/andrewpage108/" class="team-social"> <i
                                            class="fa linkedin fa-linkedin-square team-social"></i> </a></li>
                            </ul>
                        </div>
                        <img class="center-block" src="/static/images/andrew.png" alt="">

                    </div>
                    <div class="clearfix"></div>
                    <h3>Andrew Page</h3>
                    <p>Smart Contracts & Blockchain</p>
                </div>
                
                <!-- Eric -->
                <div class="team-member">
                    <div class="view view-first center-block">

                        <div class="mask">
                            <ul class="nav">
                                <li><a href="https://www.linkedin.com/in/ericrnielsen/" class="team-social"> <i
                                            class="fa linkedin fa-linkedin-square team-social"></i> </a></li>
                                <li><a href="https://angel.co/eric-nielsen-2" class="team-social"> <i
                                            class="fa linkedin fa-angellist team-social"></i> </a></li>
                            </ul>
                        </div>
                        <img class="center-block" src="/static/images/eric.png" alt="">

                    </div>
                    <div class="clearfix"></div>
                    <h3>Eric Nielsen</h3>
                    <p>Machine Learning</p>
                </div>

                <!-- Alex -->
                <div class="team-member">
                    <div class="view view-first center-block">

                        <div class="mask">
                            <ul class="nav">
                                <li>
                                  <a href="https://www.linkedin.com/in/alexpersha/" class="team-social">
                                    <i class="fa linkedin fa-linkedin-square team-social"></i>
                                  </a>
                                </li>
                            </ul>
                        </div>
                        <img class="center-block" src="/static/images/alex.png" alt="">

                    </div>
                    <div class="clearfix"></div>
                    <h3>Alex Persha</h3>
                    <p>Operations</p>
                </div>
                           <!-- Brett -->
                <div class="team-member">
                    <div class="view view-first center-block">

                        <div class="mask">
                            <ul class="nav">
                                <li>
                                  <a href="https://www.linkedin.com/in/brettnoyes/" class="team-social">
                                    <i class="fa linkedin fa-linkedin-square team-social"></i>
                                  </a>
                                </li>
                            </ul>
                        </div>
                        <img class="center-block" src="/static/images/Brett.png" alt="">

                    </div>
                    <div class="clearfix"></div>
                    <h3>Brett Noyes</h3>
                    <p>Startups</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
