{% extends "_layouts/domain_landing.html" %}
{% block page_class %}how-it-works-page{% endblock %}

<!-- Updated Page Blocks -->
{% block page_title %}How It Works - Blocklight{% endblock %}

<!-- Updated Meta Data Blocks -->
{% block title %}<meta name="title" content="How It Works - Blocklight"/>{% endblock %}
{% block description %}<meta name="description" content="We help e-commerce stores manage their business and grow their brands with intelligent, affordable tools. - Blocklight" />{% endblock %}
{% block facebook-url %}<meta property="og:url" content="https://blocklight.io/bap/"/>{% endblock %}
{% block facebook-title %}<meta property="og:title" content="How It Works - Blocklight"/>{% endblock %}
{% block facebook-description %}<meta property="og:description" content="Blocklight is a powerful data and analytics platform for small and medium e-commerce businesses. We help you grow your business and visualize all your business data in one place."/>{% endblock %}
{% block twitter-title %}<meta name="twitter:title" content="How It Works - Blocklight">{% endblock %}
{% block twitter-description %}<meta name="twitter:description" content="Blocklight is a powerful data and analytics platform for small and medium e-commerce businesses. We help you grow your business and visualize all your business data in one place.">{% endblock %}

{% block content %}
<!-- Start Content -->
<!-- Pre-Loader -->
<div class="spinner-wrapper">
    <div class="bubblingG">
        <span id="bubblingG_1"></span>
        <span id="bubblingG_2"></span>
        <span id="bubblingG_3"></span>
    </div>
</div>
<!-- End Pre-Loader -->

<!-- Main Section -->
<section class="bap bap-background supporting-top-img" id="main">
    <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
        <div class="row bap-body" id="main-body">
            <div class="bap-header">
                <h2>LET ANALYTICS "LIGHT" YOUR WAY</h2>
            </div>

            <div class="bap-support">
                <h5>
                    What time of day does your social media marketing have the biggest impact? What's driving your
                    average cost per order? Are your email campaigns creating conversions? What's your store's
                    conversion rate? What's the status of all shipped orders? Need to generate financial statements?
                    How are you finding customers? The Blocklight Analytics Platform helps you find these answers.
                </h5>
            </div>
        </div>
    </div>
</section>

<!-- The Blocklight Analytics Platform -->
<section class="bap-grid" id="bap">
    <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
        <div class="four-steps-header">
            <h1>The Blocklight Analytics Platform</h1>
            <h3>4 easy steps</h3>
        </div>

        <div class="four-steps-parent-container">
            <div class="four-steps-container">
                <div class="four-steps-container-img" style="position: relative;">
                    <img src="../../static/images/Step1.png" class="four-steps-img" />
                </div>
                <div class=" four-steps-item">
                    <div class="four-steps-item-header">
                        <h1>1</h1>
                        <h4>Create Blocklight Account</h4>
                    </div>

                    <div class="four-steps-info">
                        <p class="">
                            Register and create a Blocklight account.
                        </p>
                    </div>
                </div>
            </div>

            <div class="four-steps-container">
                <div class="four-steps-container-img" style="position: relative;">
                    <img src="../../static/images/Step2.png" class="four-steps-img" />
                </div>
                <div class="four-steps-item">
                    <div class="four-steps-item-header">
                        <h1>2</h1>
                        <h4>Connect Your Accounts</h4>
                    </div>

                    <div class="four-steps-info">
                        <p class="">
                            Connect the tools used to run your business.
                        </p>
                    </div>
                </div>
            </div>

            <div class="four-steps-container">
                <div class="four-steps-container-img" style="position: relative;">
                    <img src="../../static/images/Step3.png" class="four-steps-img" />
                </div>
                <div class="four-steps-item">
                    <div class="four-steps-item-header">
                        <h1>3</h1>
                        <h4>Use Your Data</h4>
                    </div>

                    <div class="four-steps-info">
                        <p class="">
                            Create and view dashboards and business metrics.
                        </p>
                    </div>
                </div>
            </div>

            <div class="four-steps-container">
                <div class="four-steps-container-img" style="position: relative;">
                    <img src="../../static/images/Step4.png" class="four-steps-img" />
                </div>
                <div class="four-steps-item">
                    <div class="four-steps-item-header">
                        <h1>4</h1>
                        <h4>Improve and Grow</h4>
                    </div>

                    <div class="four-steps-info">
                        <p class="">
                            Save time, get insight, and make informed business decisions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Demo Video Section -->
<section class="bap-about">
    <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
        <div class="bap-about-header">
            <h1>SEE IT IN ACTION</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12 video-wrapper">
                <iframe class="sync_video" width="640" height="360" src="https://www.youtube.com/embed/UFmXJDzvVN0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<script async>
  document.cookie = "expires=Fri, 31 Dec 9999 23:59:59 GMT;path=/;SameSite=Lax";

</script>
{% endblock %}
