{% extends "_layouts/domain_landing.html" %}
{% block css %} {{block.super}} {% endblock css %}
{% block page_title %}Blocklight{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
{% block landing_header %} {% include "layout/landing_header.html" %} {% endblock %}
<!DOCTYPE html>

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<html lang="en">

<head>

</head>

<body>
    <!-- PRELOADER -->
    <div class="spinner-wrapper">
        <div class="bubblingG">
            <span id="bubblingG_1"></span>
            <span id="bubblingG_2"></span>
            <span id="bubblingG_3"></span>
        </div>
    </div>

    <!-- MAIN SECTION -->
    <section class="bbm bbm-background supporting-top-img" id="main">
        <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s"
            style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
            <div class="row bbm-body" id="main-body">

                <div class="bbm-header">
                    <h2>COME JOIN THE NEXT GENERATION OF DREAMERS.</h2>
                </div>

                <div class="bbm-support">
                    <h3>Welcome to a new world of opportunities. At the Blocklight Business Marketplace,
                        making connections with future business partners has never been easier.
                        Whether you're a businessowner or an investor, we won't stop until you find your perfect match.
                    </h3>
                </div>
            </div>
        </div>
      
    </section>


    <!-- ABOUT SECTION -->
    <section class="solutions" id="solutions">
        <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s"
            style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">

            <h1>WELCOME TO THE BLOCKLIGHT BUSINESS MARKETPLACE</h1>
            <div class="row justify-content-space-between solutions-sections">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 solution-note">
                    <div class=number>
                        <h3>1<h3>
                    </div>
                    <h4>Investors can search analytics profiles published from the Blocklight Analytics Platform to
                        indentify quality lending opportunites.</h4>
                </div>
                <div class="center-vertical-line"></div>
                <div class="col-lg-offset-2 col-md-offset-2 col-lg-5 col-md-5 col-sm-12 col-xs-12 solution-note">
                    <div class=number>
                        <h3>2<h3>
                    </div>
                    <h4>All lending agreements are executed seamlessly via smart contracts.</h4>
                </div>
            </div>
        </div>
    </section>
 
 
    <!--  THE BUSINESS MARKETPLACE-->

    <section class="BBM" id="BBM">
        <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s"
            style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">

            <h1>4 SIMPLE STEPS</h1>
            <div class="row bbm-section">

                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bbm-row">
                    <div class="center-vertical-line first-line"></div>
                    <div class="bbm-number">
                        <h1>1</h1>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 bbm-row">
                    <div class="bbm-heading">
                        <h3>SIGN UP FOR BBM AND SEEK FUNDING</h3>
                        <p>BAP USERS MAY ELECT TO SIGN UP FOR THE BLOCKLIGHT BUSINESS MARKETPLACE TO SEEK FUNDING</p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bbm-row">
                    <img src="../../static/svg/BBM-icon-5.svg">
                </div>
                <div class="underline">
                </div>
            </div>
            <div class="row bbm-section">
                <div
                    class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-push-0 col-md-push-0 col-sm-push-0  col-xs-push-11 col-lg-1 col-md-1 col-sm-1 col-xs-1 bbm-row">
                    <img src="../../static/svg/BBM-icon-6.png">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 bbm-row">
                    <div class="bbm-heading">
                        <h3>SHARE METRICS, PROVE LENDABILITY</h3>
                        <p>BUSINESSES CAN SHARE METRICS WITH INVESTORS TO SHOWCASE BUSINESS VIABILITY AND MOMENTUM</p>
                    </div>
                </div>
                <div
                    class="col-lg-1 col-md-1 col-sm-1 col-lg-pull-0 col-md-pull-0 col-sm-pull-0  col-xs-pull-11 col-xs-1 bbm-row">
                    <div class="center-vertical-line"></div>
                    <div class="bbm-number">
                        <h1>2</h1>

                    </div>
                </div>
                <div class="underline">
                </div>
            </div>
            <div class="row bbm-section">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bbm-row">
                    <div class="center-vertical-line"></div>
                    <div class="bbm-number">
                        <h1>3</h1>

                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 bbm-row">
                    <div class="bbm-heading">
                        <h3>SHOP FOR BUSINESSES TO FUND</h3>
                        <p>INVESTORS CAN ANALYZE BUSINESSES VIA SHARED METRICS TO IDENTIFY ATTRACTIVE INVESTMENTS</p>

                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bbm-row">
                    <img src="../../static/svg/BBM-icon-7.svg">
                </div>
                <div class="underline">
                </div>
            </div>
            <div class="row bbm-section">
                <div
                    class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1  col-lg-push-0 col-md-push-0 col-sm-push-0  col-xs-push-11 col-lg-1 col-md-1 col-sm-1 col-xs-1 bbm-row">
                    <img src="../../static/svg/BBM-icon-8.svg">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 bbm-row">
                    <div class="bbm-heading">
                        <h3>EXECUTE FUNDING AGREEMENTS</h3>
                        <p>FOLLOWING A BUSINESS-INVESTOR "MATCH", A CAPITAL FUNDING AGREEMENT IS ISSUED USING BLOCKCHAIN
                            TECHNOLOGY</p>

                    </div>
                </div>
                <div
                    class="col-lg-1 col-md-1 col-sm-1 col-lg-pull-0 col-md-pull-0 col-sm-pull-0  col-xs-pull-11 col-xs-1 bbm-row">
                    <div class="center-vertical-line last-line"></div>
                    <div class="bbm-number">
                        <h1>4</h1>

                    </div>
                </div>
            </div>
        </div>

    </section>


</body>

</html>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>

{% endblock %}