
<!-- Start Footer Area -->
<footer class="flex-display">
    <!-- Content -->
    <div class="container">
        <div class="row more-margin border-between">
            <!-- Left -->
            <div class="col-md-4 col-sm-5 col-xs-8 text-left">
                <!-- Group 1 -->
                <div class="col-md-12 col-sm-12 col-xs-12 no-extra group1">
                    <!-- Name -->
                    <a class="footer-brand" href="/">
                        <img height="50" src="/static/images/BlocklightLogo_Full_Transparent_WhiteText.svg" class="logo" alt="" />
                    </a>
                    <!-- Social media -->
                    <ul class="list-inline list-social">
                        <li class="social-facebook">
                            <a href="https://www.facebook.com/blocklightio" target="_blank">
                                <i class="fa fa-lg fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="social-twitter">
                            <a href="https://twitter.com/blocklightio" target="_blank">
                                <i class="fa fa-lg fa-twitter-square"></i>
                            </a>
                        </li>
                        <li class="social-instagram">
                            <a href="https://www.instagram.com/blocklightio/" target="_blank">
                                <i class="fa fa-lg fa-instagram"></i>
                            </a>
                        </li>
                        <li class="social-linkedin">
                            <a href="https://www.linkedin.com/company/28135250/" target="_blank">
                                <i class="fa fa-lg fa-linkedin-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Group 2 -->
                <div class="col-md-12 col-sm-12 col-xs-12 no-extra group2">
                    <!-- Phone number and address -->
                    <ul class="fa-ul list-info">
                        <!-- Phone -->
                        <li class="vcenter">
                            <i class="fa-li fa fa-phone"></i>
                            <a href="tel:+1-312-324-0511">(312) 324-0511</a>
                        </li>
                        <li class="vcenter">
                            <i class="fa-li fa fa-map-marker"></i>
                            {% comment %} <a href="https://www.google.com/maps/place/1871/@41.8843438,-87.6387462,16z/data=!4m12!1m6!3m5!1s0x880e2cb6fb22d371:0x40547b2a8f2c295!2s1871!8m2!3d41.888385!4d-87.6362656!3m4!1s0x880e2cb6fb22d371:0x40547b2a8f2c295!8m2!3d41.888385!4d-87.6362656">222 Merchandise Mart Plz., 1212<br />Chicago, IL 60654</a> {% endcomment %}
            </li>
            <li class="vcenter">
              <i class="fa-li fa fa-envelope"></i>
              <a href="mailto:info@blocklight.io">info@blocklight.io</a>
                        </li>
                    </ul>
                </div>
                <!-- Group 3 -->
                <div class="col-md-12 col-sm-12 col-xs-12 no-extra group3">
                    <!-- Copyright -->
                    <p style="padding-top:20px">&copy; {% now "Y" %} Blocklight</p>
                </div>
            </div>
            <!-- End left side -->

            <div class="d-flex flex-row flex-wrap border-between footer-link-list text-left">
                <div class="d-flex flex-column">
                    <a href="/">Home</a>
                    <a href="/about">About Us</a>
                    <a href="/about/#team">Our Team</a>
                </div>

                <div class="d-flex flex-column">
                    <a href="/bap">Analytics Platform</a>
                    <a href="/use_cases"> Use Cases</a>
                    <a href="/#pricing">Pricing</a>
                </div>

                <div class="d-flex flex-column">
                    <a href="/#integrations">Integrations</a>
                    <a href="/roadmap">Roadmap</a>
                    <a href="/faq">FAQ</a>
                </div>

                <div class="d-flex flex-column">
                    <a href="/blog">Blog</a>
                    <a href="/accounts/login/">Login</a>
                    <a href="/signup/">Sign Up</a>
                </div>

                <div class="d-flex flex-column">
                    <a href="/tos">Terms</a>
                    <a href="/privacy">Privacy</a>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap border-between footer-link-list text-left">
                <div class="d-flex flex-column">
                    <div style="padding-top: 20px;">
                        <script language="JavaScript" type="text/javascript">
                            TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "CL1", "none");
                            </script>
                            <a  href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</footer>
<!-- End footer Area -->
