{% extends "_layouts/domain_landing.html" %}
{% block page_class %}roadmap-page{% endblock %}

<!-- Updated Page Blocks -->
{% block page_title %}Roadmap - Blocklight{% endblock %}

<!-- Updated Meta Data Blocks -->
{% block title %}<meta name="title" content="Roadmap - Blocklight"/>{% endblock %}
{% block description %}<meta name="description" content="Blocklight is disrupting the e-commerce industry with affordable tools for small business owners. Our analytics platform helps online businesses grow sales and understand their business."/>{% endblock %}
{% block facebook-url %}<meta property="og:url" content="https://blocklight.io/roadmap/"/>{% endblock %}
{% block facebook-title %}<meta property="og:title" content="Roadmap - Blocklight"/>{% endblock %}
{% block facebook-description %}<meta property="og:description" content="Blocklight is disrupting the e-commerce industry with affordable tools for small business owners. Our analytics platform helps online businesses grow sales and understand their business."/>{% endblock %}
{% block twitter-title %}<meta name="twitter:title" content="Roadmap - Blocklight">{% endblock %}
{% block twitter-description %}<meta name="twitter:description" content="Blocklight is disrupting the e-commerce industry with affordable tools for small business owners. Our analytics platform helps online businesses grow sales and understand their business.">{% endblock %}

{% block content %}
<!-- Start Content -->
<!-- Pre-loader -->
<div class="spinner-wrapper">
    <div class="bubblingG">
        <span id="bubblingG_1"></span>
        <span id="bubblingG_2"></span>
        <span id="bubblingG_3"></span>
    </div>
</div>
<!-- End Pre-Loader -->

<!-- Roadmap Header -->
<section class="roadmap roadmap-background supporting-top-img" id="main">
    <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
        <div class="row roadmap-body" id="main-body">

            <div class="roadmap-header">
                <h2>WHERE WE’RE HEADED</h2>
            </div>

            <div class="roadmap-support">
                <h5>We're disrupting the e-commerce industry. There's a noticeable shift from physical, retail
                    storefronts to the digital storefronts of the future. We're supporting this shift by
                    providing tools for tomorrow's business owners.
                </h5>
            </div>
        </div>
    </div>
    <!-- End row -->
</section>

<section class="roadmap-chart" id="roadmap-chart">
    <div class = "container">
    <div class = "orange-row row">
        <div class = "orange-circle">
            <h4>2018</h4>
        </div>
    </div>
    <div class = "white-row row">
        <div class = "black-circle">
        </div>
    </div>
    <div class = "yellow-row row">
        <div class = "yellow-circle">
            <h4>Mar</h4>
        </div>
        <div class = "roadmap-description right">
            <h3>Blocklight</h3>
            <p>Company is formed</p>
        </div>
    </div>
    <div class = "white-row row">
        <div class = "black-circle">
        </div>
    </div>
    <div class = "yellow-row row">
        <div class = "yellow-circle">
            <h4>May</h4>
        </div>
        <div class = "roadmap-description left">
            <h3>Analytics Platform</h3>
            <p>Alpha app development</p>
        </div>
    </div>
    <div class = "white-row row">
        <div class = "black-circle">
        </div>
    </div>
    <div class = "orange-row row">
        <div class = "orange-circle">
            <h4>2019</h4>
        </div>
    </div>
    <div class = "white-row row">
        <div class = "black-circle">
        </div>
    </div>
    <div class = "yellow-row row">
        <div class = "yellow-circle">
            <h4>Jun</h4>
        </div>
        <div class = "roadmap-description right">
            <h3>Analytics Platform</h3>
            <p>Begin beta testing</p>
        </div>
    </div>
    <div class = "white-row row">
        <div class = "black-circle">
        </div>
    </div>
    <div class = "orange-row row">
        <div class = "orange-circle">
            <h4>2020</h4>
        </div>
    </div>
    <div class = "white-row row">
        <div class = "black-circle">
        </div>
    </div>
    <div class = "yellow-row row">
        <div class = "yellow-circle">
            <h4>May</h4>
        </div>
        <div class = "roadmap-description left">
            <h3>Analytics Platform</h3>
            <p>Conclude beta testing</p>
        </div>
    </div>
    <div class = "white-row row">
        <div class = "black-circle">
        </div>
    </div>
    <div class = "yellow-row row">
        <div class = "yellow-circle">
            <h4>Sep</h4>
        </div>
        <div class = "roadmap-description right">
            <h3>Analytics Platform</h3>
            <p>Launch on Shopify</p>
        </div>
    </div>
    <div class = "white-row row">
        <div class = "black-circle">
        </div>
    </div>
    <div class = "yellow-row row">
        <div class = "yellow-circle">
            <h4>Nov</h4>
        </div>
        <div class = "roadmap-description left">
            <h3>Analytics Platform</h3>
            <p>Launch on Woo-Commerce</p>
        </div>
    </div>
    <div class = "roadmap-end">
        <h4>More Innovation to Come!</h4>
    </div>
    <div class="center-vertical-line"></div>
</div>

</section>
{% endblock %}
