{% extends "_layouts/domain_landing.html" %}
{% block page_class %}tos-page{% endblock %}

<!-- Updated Page Blocks -->
{% block page_title %}Terms of Service - Blocklight{% endblock %}

<!-- Updated Meta Data Blocks -->
{% block title %}<meta name="title" content="Terms of Service - Blocklight"/>{% endblock %}
{% block description %}<meta name="description" content="Our analytics platform helps online businesses grow sales and understand their business."/>{% endblock %}
{% block facebook-url %}<meta property="og:url" content="https://blocklight.io/tos/"/>{% endblock %}
{% block facebook-title %}<meta property="og:title" content="Terms of Service - Blocklight"/>{% endblock %}
{% block facebook-description %}<meta property="og:description" content="Our analytics platform helps online businesses grow sales and understand their business."/>{% endblock %}
{% block twitter-title %}<meta name="twitter:title" content="Terms of Service - Blocklight">{% endblock %}
{% block twitter-description %}<meta name="twitter:description" content="Our analytics platform helps online businesses grow sales and understand their business.">{% endblock %}

{% block content %}

<!-- Pre-Loader -->
<div class="spinner-wrapper">
    <div class="bubblingG">
        <span id="bubblingG_1"></span>
        <span id="bubblingG_2"></span>
        <span id="bubblingG_3"></span>
    </div>
</div>
<!-- End Pre-Loader -->

<!-- Terms of Service -->
<section class="tos" id="tos">
    <div class="container">
        <div class="row section-body">
            <div class="wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
                <h1>Blocklight Terms of Service Statement</h1>
            </div>

            <!-- Section 1 -->
            <div class="col-lg-offset-1 col-lg-10 faq-sections">
                <div class="wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
                </div>

                <p class="privacy-policy-p" style="font-weight: normal; text-align:left" style="color:white">
                    <article class="markdown-body entry-content" itemprop="text" style="color:white">
                        <h1 dir="ltr"> </h1>
                            <p dir="ltr">
                            <b>1. Acceptance of Terms</b>
                            </p>
                            <p dir="ltr">
                                These Terms of Service (“TOS”) are made by and between Blocklight, a Wyoming limited
                                liability corporation (LLC), with offices at 30 N Gould St Ste R, Sheridan, Wyoming
                                82801 and you, the user (you, your, or User). BY CLICKING THE "I AGREE" BUTTON BELOW
                                OR BY ACCESSING, VISITING, BROWSING, USING, OR ATTEMPTING TO INTERACT WITH OR USE ANY
                                PART OF THIS WEBSITE, OR ANY BLOCKLIGHT SERVICES OR CONTENT (INDIVIDUALLY AND
                                COLLECTIVELY, THE "SERVICE"), YOU AGREE THAT YOU HAVE READ, UNDERSTOOD AND AGREE TO BE
                                BOUND BY THESE TOS IN THEIR ENTIRETY. THE MOST CURRENT VERSION OF THESE TOS, WHICH
                                SUPERSEDES ALL PREVIOUS VERSIONS, CAN BE REVIEWED BY GOING TO
                                <a href="http://blocklight.io/tos">http://blocklight.io/tos</a>, AND BLOCKLIGHT
                                RESERVES THE RIGHT TO CHANGE THE TOS AT ANY TIME AND WITHOUT NOTICE TO YOU (other than
                                posting the changes at the aforementioned web address).
                            </p>
                            <p dir="ltr">
                                BLOCKLIGHT RESERVES THE RIGHT, WITH OR WITHOUT NOTICE, TO MAKE CHANGES TO THIS
                                AGREEMENT IN BLOCKLIGHT’S SOLE DISCRETION. YOUR CONTINUED USE OF ANY PART OF THIS
                                WEBSITE OR THE SERVICE CONSTITUTES YOUR ACCEPTANCE OF SUCH CHANGES TO THIS AGREEMENT.
                                YOU SHOULD REVIEW THIS AGREEMENT PERIODICALLY TO DETERMINE IF ANY CHANGES HAVE BEEN
                                MADE. THE MOST CURRENT VERSION OF THIS AGREEMENT, WHICH SUPERSEDES ALL PREVIOUS
                                VERSIONS, CAN BE REVIEWED BY GOING TO
                                <a href="http://blocklight.io/tos">http://blocklight.io/tos</a>.
                            </p>
                            <p dir="ltr">
                                In addition, when using the Service, you shall be subject to any posted policies,
                                guidelines or rules applicable thereto. All such policies, guidelines and rules are
                                hereby incorporated by reference into the TOS. You further agree that, except as
                                otherwise expressly provided in this TOS, there shall be no third party beneficiaries
                                to this agreement.
                            </p>
                            <p dir="ltr">
                                IF YOU DO NOT AGREE TO THE CURRENT TERMS AND CONDITIONS, PLEASE DO NOT USE THIS
                                SERVICE, SINCE YOUR USE OF IT CONSTITUTES ACCEPTANCE OF ALL OF THE MOST CURRENT TERMS
                                AND CONDITIONS FOR ITS USE.
                            </p>
                            <p dir="ltr">
                                <b>2. Description of Service</b>
                            </p>
                            <p dir="ltr">
                                Blocklight makes available a collection of resources to its registered and
                                non-registered users as the Service. Registered users can use our business tools and
                                analytics for improving their business as well as create Content (as defined by Section
                                4 below), select favorites, edit, rate, comment and read other people's Content.
                                Non-registered users only view static content.
                            </p>
                            <p dir="ltr">
                                THE SERVICE IS PROVIDED "AS IS" AND BLOCKLIGHT ASSUMES NO RESPONSIBILITY FOR
                                TIMELINESS, NON-DELIVERY, OR FAILURE TO STORE ANY COMMUNICATION, WRITING, IMAGE, OR
                                PERSONALIZATION SETTINGS. ADDITIONALLY, BLOCKLIGHT PROVIDES INFORMATION WITHOUT
                                WARRANTY OF ANY KIND AND AS SUCH, THE COMPANY IS NOT RESPONSIBLE OR LIABLE FOR THE
                                ACCURACY, CONTENT, COMPLETENESS, LEGALITY, OR RELIABILITY OF THE INFORMATION.
                            </p>
                            <p dir="ltr">
                                Unless explicitly stated otherwise, any new features which augment or enhance the
                                Service, including without limitation the release of new Blocklight properties, are
                                subject to the then current TOS.
                            </p>
                            <p dir="ltr">
                                All users must abide by the TOS. If a user fails to follow any of the guidelines and/or
                                rules of behavior, Blocklight can discontinue their ability to use the site at any
                                time. In addition, we have the right to delete any piece of Content, and interact
                                with user’s account, Content, or data in any way we find objectionable in our
                                reasonable discretion.
                            </p>
                            <p dir="ltr">
                                You may only use this website for purposes expressly permitted by the TOS. As a
                                condition of your use of Blocklight, you represent and warrant to Blocklight that you
                                will not use the website and any Service for any purpose that is unlawful, offensive,
                                and/or prohibited by this TOS.
                            </p>
                            <p dir="ltr">
                                You alone are totally responsible for any activity that takes place on Blocklight
                                under your name and password. If you become aware of any unauthorized use of your
                                username and/or password it is your responsibility to notify Blocklight immediately. It
                                is up to you to maintain the confidentiality of your password and username at all times.
                            </p>
                            <p dir="ltr">
                                You understand that you may receive business-related communications from Blocklight
                                such as Service announcements and account administrative notices and you agree that
                                these communications are not "unsolicited commercial email advertisements" and thus,
                                subject to all applicable laws, you agree to receive them and you will not be able to
                                opt out of receiving such communications.
                            </p>
                            <p dir="ltr">
                                As a user of the Service you also understand and agree that the Service could also
                                include advertisements. You agree that such advertisements are not "unsolicited
                                commercial email advertisements" and, subject to all applicable laws, you agree to
                                receive them and you will not be able to opt out of receiving such communications. You
                                understand and agree that your correspondence or business dealings with, or
                                participations in promotions of, advertisers found on or through the Service, including
                                payment and delivery of goods or services, and any other terms, conditions, warranties
                                or representations associated with such dealings, are solely between you and the
                                advertiser. You agree that Blocklight shall not be responsible or liable for any loss
                                or damage incurred as the result of such dealings or as the result of the presence of
                                such advertisers on the Service.
                            </p>
                            <p dir="ltr">
                                You understand that you are responsible for obtaining access to the Service and that
                                access may involve third party fees. You are totally responsible for obtaining such
                                access and paying those fees.
                            </p>
                            <p dir="ltr">
                                YOU MUST BE AT LEAST 18 YEARS OF AGE TO ACCESS AND VIEW THE SERVICE. IF YOU ARE 18
                                YEARS OR YOUNGER, DO NOT USE THIS SERVICE FOR ANY PURPOSE AS IT IS NOT INTENDED FOR USE
                                BY CHILDREN.
                            </p>
                            <p dir="ltr">
                                <b>3. Rules of Behavior</b>
                            </p>
                            <p dir="ltr">
                                You are solely responsible for your own communications and Content including any data,
                                images, graphics, text, audio, video, email, links, and/or screen names you post
                                integrated data sources within Blocklight. You agree to use the Service for business
                                analytics and to post, receive, and interact with communications and Content that are
                                legal and proper.
                            </p>
                            <p dir="ltr">
                                You must not abuse, defame, harass, stalk, threaten, intimidate, or otherwise violate
                                the legal rights of others.
                            </p>
                            <p dir="ltr">
                                You must not violate the privacy or publicity rights of others.
                            </p>
                            <p dir="ltr">
                                You must not upload, post or link to any material that is inappropriate, defamatory,
                                infringing, obscene, vulgar, libelous, racially or ethnically hateful, objectionable,
                                or unlawful (or promote or provide instructional information about illegal activities
                                or communications that could reasonably cause damage, loss, harm, or injury to any
                                individual or group).
                            </p>
                            <p dir="ltr">
                                You must not post, upload or link to (a) anything that promotes or distributes pyramid
                                schemes or chain letters, or (b) other disruptive, illegal or immoral communications of
                                any kind.
                            </p>
                            <p dir="ltr">
                                You must not post, upload or link to anything that could potentially exploit or harm
                                children by exposing them to inappropriate Content, asking for personally identifiable
                                details or information, or otherwise exposing them to materials or information
                                which in any way could cause damage, injury, or harm of any kind.
                            </p>
                            <p dir="ltr">
                                You must not upload or post anything that infringes any patent, trademark, copyright,
                                trade secret or other intellectual property or other legal right of a third party
                                without prior written permission from the third party in each instance, which written
                                permission you agree to disclose to us at any time on our request (subject to all
                                applicable laws). You must not intentionally download any material that you know or
                                should reasonably know cannot be distributed legally.
                            </p>
                            <p dir="ltr">
                                You must not impersonate another person, group of people, or entity at any times, which
                                includes not using anyone else's username or password.
                            </p>
                            <p dir="ltr">
                                You must not use the Blocklight Service for any illegal, immoral, or unauthorized
                                purpose.
                            </p>
                            <p dir="ltr">
                                You must abide by all applicable Federal, State and local laws. If you are outside the
                                United States, you must comply with all local laws as well with respect to your online
                                conduct and acceptable Content including without limitation the exportation
                                of data to the United States or to your country or residence.
                            </p>
                            <p dir="ltr">
                                You cannot modify, edit, or delete any Content and communications of the Blocklight
                                site and/or of other individuals other than your own Content.
                            </p>
                            <p dir="ltr">
                                You must not transmit any viruses, worms, defects, Trojan Horses or any items and/or
                                computer code, files or programs of a destructive nature and/or otherwise designed to
                                interrupt or limit the functionality of any computer software or hardware or
                                telecommunications
                                device.
                            </p>
                            <p dir="ltr">
                                You must not transmit or allow access or distribution of any spiders, robots or other
                                information gathering computer programs or routines or their equivalents on or in the
                                Service.
                            </p>
                            <p dir="ltr">
                                You must not interfere with or disrupt the Service or servers or networks connected
                                with the Service or disobey any requirements, procedures, policies or regulations of
                                networks connected to the Service.
                            </p>
                            <p dir="ltr">
                                You cannot create member accounts under any false or fraudulent pretenses (including by
                                automated means).
                            </p>
                            <p dir="ltr">
                                You must not state or imply that any of your submitted and or posted Content is
                                endorsed by Blocklight or any affiliate thereof unless approved.
                            </p>
                            <p dir="ltr">
                                You must not retrieve, store or collect personal information about any user for any
                                unauthorized purpose, and may not retrieve, store, or collect personal information
                                about any user for any valid purpose without such user’s prior written consent in
                                each instance (and acknowledgment that they are at least 18 years of age).
                            </p>
                            <p dir="ltr">
                                You must not engage in any "spamming" of any kind, including without limitation ad
                                spamming.
                            </p>
                            <p dir="ltr">
                                You cannot use the Blocklight name or trademarks or related trade names, which you
                                acknowledge here to be valid, subsisting and enforceable without impediment, and you
                                will not expressly or by implication create the false or misleading impression that
                                Blocklight is associated with, or endorses, or is in any way connected with you, your
                                business, or your Content.
                            </p>
                            <p dir="ltr">
                                WHILE BLOCKLIGHT EXPLICITLY PROHIBITS THE ABOVE CONDUCT, YOU ACKNOWLEDGE AND AGREE THAT
                                YOU MAY BE EXPOSED TO SUCH CONDUCT AND CONTENT AND THAT YOU USE THE SERVICE ENTIRELY AT
                                YOUR OWN RISK, AND THAT BLOCKLIGHT SHALL HAVE NO LIABILITY OF ANY KIND FOR SUCH CONDUCT
                                AS CARRIED OUT BY ANY THIRD PARTY AT ANY TIME UNLESS EXPRESSLY SET FORTH TO THE
                                CONTRARY BY BLOCKLIGHT IN WRITING.
                            </p>
                            <p dir="ltr">
                                YOU UNDERSTAND AND AGREE THAT IF YOU VIOLATE ANY OF THE RULES OF BEHAVIOR, BLOCKLIGHT
                                CAN TERMINATE YOUR USE OF THE SERVICE IMMEDIATELY WITHOUT PRIOR NOTICE AND WITHOUT ANY
                                RIGHT OF REFUND, SET-OFF OR A HEARING.
                            </p>
                            <p dir="ltr">
                                <b>4. Content</b>
                            </p>
                            <p dir="ltr">
                                As a registered user, you will be able to upload and post a great variety of materials
                                and information, including but not limited to text, audio, video, photographs, graphics
                                and other materials ("Content") to your integrated accounts. This means that you have
                                sole responsibility, not Blocklight, for all of the Content that you upload post,
                                email, transmit or otherwise make available through the Service, and to make sure that
                                you are in compliance with the rules of behavior set forth herein relating to such
                                Content. Any Content that you write, post, upload or link to on Blocklight is entirely
                                your responsibility.
                            </p>
                            <p dir="ltr">
                                Blocklight shall have no liability of any kind with respect to any Content posted by
                                you or other users of the Service. You agree that you must assess and bear all risks
                                associated with your use of any Content. In this regard, you may not rely on any
                                Content created by other Blocklight members or otherwise created, distributed and
                                displayed on any part of the Service. Blocklight does not control or monitor all of the
                                Content posted via the Service and, as such,
                                does not guarantee the accuracy, integrity or quality of such Content.
                            </p>
                            <p dir="ltr">
                                The Content created by you must be owned by you or you must have been granted the prior
                                permission to use such Content by its owner. Blocklight does not own any of the Content
                                you post. By placing Content on the Service you are providing Blocklight with a
                                worldwide, irrevocable, royalty-free, unlimited, non-exclusive license, for as long as
                                the Content is part of your profile, to publicly display, modify, reproduce and
                                distribute your Content, in whole or in part, on the site for editorial and promotional
                                purposes of the site. Blocklight reserves the right to exploit or promote this Content
                                in connection with the promotion of the Service and other services offered by
                                Blocklight.
                            </p>
                            <p dir="ltr">
                                Unless you make it clear that specific Content you post cannot be copied or used by any
                                other users of the Service, you agree that by posting Content you own on the Service,
                                all other users can reproduce and use such Content in connection with the Service,
                                subject to all applicable laws. Blocklight shall have no responsibility for enforcing
                                any rights you may claim in any Content, which shall be your responsibility entirely,
                                and you agree to hold harmless defend, and indemnify Blocklight with respect to any
                                claim you have that other users are reproducing or using your Content as well as for
                                claims by other users that you are reproducing or using their Content without
                                permission.

                                Blocklight will not arbitrate, mediate or resolve any intellectual property or other
                                disputes between users, and has no responsibility for doing same other than as may be
                                specifically required by law.
                            </p>
                            <p dir="ltr">
                                You acknowledge that Blocklight may or may not pre-screen Content but that Blocklight
                                and its designees shall have the right, but not the obligation, in its sole discretion
                                to pre-screen, refuse, move, edit, and/or delete any Content that violates these
                                TOS and/or is otherwise objectionable as determined by Blocklight in its sole
                                discretion.
                            </p>
                            <p dir="ltr">
                                Blocklight may preserve and store your account information and Content if it believes
                                in good faith that such preservation is necessary to comply with legal or regulatory
                                processes, respond to claims that the Content violates the rights of third parties,
                                and/or to protect the rights, property or personal safety of Blocklight, its users and
                                the public.
                            </p>
                            <p dir="ltr">
                                Blocklight respects the intellectual property of others and we request our users do the
                                same. In certain circumstances and at its discretion, Blocklight may, but is not
                                obligated to disable, suspend and terminate the accounts of members who may be
                                infringing on the rights of others. If you believe that your Content has been copied in
                                a way that constitutes copyright infringement, or your intellectual property rights
                                have otherwise been violated, please contact Blocklight as soon as practically possible
                                at 30 N Gould St Ste R, Sheridan, Wyoming 82801,
                                <a href="mailto:support@blocklight.io">support@blocklight.io</a> with the following
                                information:
                            </p>
                            <p dir="ltr">
                                1. an electronic or physical signature of the person authorized to act on behalf of the
                                owner of the copyright or other intellectual property interest;
                            </p>
                            <p dir="ltr">
                                2. a description of where the material you claim is infringing is located on the site;
                            </p>
                            <p dir="ltr">
                                3. your name, address, telephone number, and email address;
                            </p>
                            <p dir="ltr">
                                4. a statement claiming that you have a good faith belief that the disputed use has not
                                been authorized; and
                            </p>
                            <p dir="ltr">
                                5. a statement by you made under penalty of perjury, that the above information is
                                accurate and that you are the copyright or intellectual property holder or our
                                authorized to act on behalf of the holder.
                            </p>
                            <p dir="ltr">
                                <b>5. Links</b>
                            </p>
                            <p dir="ltr">
                                The Service may provide, or third parties including Blocklight members may provide,
                                links to other websites or resources, which are not maintained by or related to
                                Blocklight. Links to such sites are provided as a service to our users and are not
                                sponsored by, endorsed or otherwise affiliated with Blocklight. Blocklight has no
                                control over these sites and their content, and makes no representations or warranties
                                about the content, completeness, quality or accuracy of the links, materials or
                                information contained on any such website. Therefore, you acknowledge and agree that
                                Blocklight is not responsible for the availability of such links, resources and
                                content, and does not endorse, and is not responsible or liable for, any content,
                                advertising, products, or other materials made available on or from these linked
                                websites. You also acknowledge and agree that Blocklight is not responsible or liable,
                                directly or indirectly, for any damage or loss caused by or alleged to have been caused
                                by, or in relation to, the use of any Content, goods or services offered through these
                                links or any failures and/or disruption to your computer system that results from your
                                use of any such links, or for any intellectual property or other third party claims
                                relating to your posting or using such links. YOU AGREE THAT IF BLOCKLIGHT REQUESTS
                                YOU TO DISABLE ANY LINK YOU HAVE POSTED AND YOU FAIL TO DO SO WITHIN 24 HOURS AFTER
                                RECEIVING SUCH REQUEST, BLOCKLIGHT HAS THE RIGHT TO DISABLE THE LINK WITHOUT ANY
                                FURTHER NOTICE TO YOU.
                            </p>
                            <p dir="ltr">
                                <b>6. Indemnity</b>
                            </p>
                            <p dir="ltr">
                                You agree to indemnify, defend, and hold Blocklight, its subsidiaries, affiliates,
                                licensors, content providers, service providers, employees, agents, officers,
                                directors, and contractors (individually and collectively, the “Indemnified Parties”)
                                harmless from any breach of these TOS by you (or anyone on your behalf), including
                                without limitation, any use of content other than as expressly authorized by these TOS.
                                You agree that the Indemnified Parties will have no liability in connection with any
                                such breach or unauthorized use, and you agree to indemnify, defend, and hold the
                                Indemnified Parties harmless from and against any and all resulting losses, damages,
                                judgments, awards, costs, expenses, and attorneys' fees of the Indemnified Parties in
                                connection therewith. You will also indemnify, defend, and hold the Indemnified Parties
                                harmless from and against any claims brought by third parties arising out of your use
                                of the website including any information accessed from the website.
                            </p>
                            <p dir="ltr">
                                <b>7. Personal and Non-Commercial Use of Website</b>
                            </p>
                            <p dir="ltr">
                                Blocklight is for your personal and non-commercial use, unless otherwise specified. You
                                may not use the Service for any other purpose, including any commercial purpose,
                                without the prior express written permission of an authorized representative of
                                Blocklight in each instance. You may not modify, copy, distribute, display, send,
                                perform, reproduce, publish, license, create derivative works from, transfer, sell, or
                                otherwise infringe on any intellectual property rights related to any information,
                                content, software, products or services obtained from or otherwise connected to this
                                website.
                            </p>
                            <p dir="ltr">
                                <b>8. Modification and Termination of the Service</b>
                            </p>
                            <p dir="ltr">
                                Blocklight reserves the right at any time and from time to time to modify or
                                discontinue, temporarily or permanently, the Service (or any part thereof) with or
                                without notice. You agree that Blocklight will not be liable to you or any third party
                                for any modification, suspension or discontinuance of the Service.
                            </p>
                            <p dir="ltr">
                                In the event of any such modification, discontinuation or termination of any Service,
                                you acknowledge and agree that any virtual goods that you may have purchased, obtained
                                through your use of the Service, or otherwise acquired, may be reduced in value or
                                completely eliminated, and that Blocklight will not be liable to you or any third
                                party in any manner as a result of such reduction or elimination of value of such
                                virtual items.
                            </p>
                            <p dir="ltr">
                                <b>9. Blocklight Privacy Policy</b>
                            </p>
                            <p dir="ltr">
                                Personal and certain other information is subject to our Privacy Policy. As a condition
                                of using the Service you agree to the terms of the Privacy Policy, as it may be changed
                                and updated from time to time. Our Privacy Policy, which is incorporated here by
                                reference, is located at
                                <a href="http://blocklight.io/privacy">http://blocklight.io/privacy</a>. You agree that
                                your use of this Service is subject to the Privacy Policy, and therefore, agree that
                                you will not use this Service unless and until you review the Privacy Policy and agree
                                with its terms in its entirety.
                            </p>
                            <p dir="ltr">
                                <b>10. Registration</b>
                            </p>
                            <p dir="ltr">
                                In order to use aspects of the Service you are required to register. We refer to
                                registered users as “members”. Registered users are subject to the following specific
                                terms in addition to all of the other terms in this Agreement:
                            </p>
                            <p dir="ltr">
                                In consideration of your use of the Service, you represent that you are of legal age to
                                form a binding contract, which is eighteen (18) years of age in the United States, and
                                are not a person barred from receiving the Services under the laws of the United States
                                or other applicable jurisdiction.
                            </p>
                            <p dir="ltr">
                                You agree to provide true, accurate, current and complete information as required on
                                the Service's Registration Form. If you provide any information that is untrue,
                                incomplete, not current or inaccurate, Blocklight has the right to suspend or terminate
                                your account and refuse your current or future use of the Service (or any portion
                                thereof).
                            </p>
                            <p dir="ltr">
                                You agree that Blocklight may, under certain circumstances and without prior notice,
                                immediately terminate your Blocklight account, any associated username and/or access to
                                the Service. Cause for such termination shall include but is not be limited to: (i) a
                                breach or violation of the TOS or other Blocklight policies, guidelines, or rules
                                (including without limitation the Privacy Policy), (ii) extended periods of inactivity,
                                (iii) your engagement in fraudulent or illegal activity, (iv) unexpected technical or
                                security issues, and (v) requests by law enforcement or other government agencies. You
                                also agree that any termination is in Blocklight's sole discretion and that Blocklight
                                will not be liable to you or any third party for any termination of your account,
                                password, username, deletion of Content and/or access to the Service.
                            </p>
                            <p dir="ltr">
                                You agree that your account is non-transferable and any rights to your account,
                                password, username, virtual currency or goods terminate upon your death or disability
                                and/or termination of account for any reason.
                            </p>
                            <p dir="ltr">
                                You are responsible for any activities that take place under your username and
                                password. If you become aware of any unauthorized use of your password or account, or
                                any other breach of security, contact Blocklight immediately. It is up to you to
                                maintain the confidentiality of your password and account. Blocklight is not
                                responsible or liable for any loss or damage arising from your failure to comply with
                                the provisions of these terms.
                            </p>
                            <p dir="ltr">
                                <b>11. Practices regarding Use and Storage</b>
                            </p>
                            <p dir="ltr">
                                You acknowledge that Blocklight may establish general practices and limits regarding
                                use of the Service including, without limitation, the maximum number of email messages
                                which may be sent or received from an account of the Service, the maximum size of any
                                email message that may be sent from or received by an account of the Service, the
                                maximum amount of disk space that will be allotted on Blocklight's servers on your
                                behalf, and the maximum number of times and duration for which you may access the
                                Service in a given time. You agree that Blocklight has no responsibility or liability
                                for the deletion or failure to store or transmit any messages or communications or
                                other content maintained or transmitted by the Service. You acknowledge and agree that
                                Blocklight reserves the right to log off accounts and deactivate usernames and accounts
                                that are inactive for an extended period of time. You further acknowledge that
                                Blocklight has the right to modify these practices and limits from time to time.
                            </p>
                            <p dir="ltr">
                                <b>12. Blocklight Proprietary Rights; Trademarks and Copyrights</b>
                            </p>
                            <p dir="ltr">
                                You acknowledge and agree that the Service and any necessary software used in
                                connection with the Service ("Software") contain proprietary and confidential
                                information that is the property of Blocklight and its licensors, and is protected by
                                applicable intellectual property and other laws. No rights or title of to any of the
                                Software used in connection with any Service is provided, transferred or assigned to
                                you. You further acknowledge and agree that content contained in advertisements or
                                information presented to you through the Service or advertisers is protected by
                                copyright, trademarks, service marks, patent, privacy, and/or other proprietary rights
                                and laws. Except as expressly authorized by Blocklight or advertisers, you agree not to
                                modify, rent, lease, loan, sell, distribute or create derivative works based on the
                                Service or Software, in whole or in part, at any time. You also acknowledge
                                Blocklight's exclusive rights in the Blocklight trademark and service mark. Trademarks,
                                service marks, logos, and copyrighted works appearing on Blocklight are the property of
                                Blocklight or the party that provided such intellectual property to Blocklight.
                                Blocklight and any party that provides intellectual property to Blocklight retain all
                                rights with respect to any of their respective intellectual property appearing on
                                Blocklight, and no rights in such materials are transferred or assigned to you, in
                                whole or in part, at any time.
                            </p>
                            <p dir="ltr">
                                <b>13. No Co-Branding or Framing.</b>
                            </p>
                            <p dir="ltr">
                                You may not use or authorize any party to co-brand or frame Blocklight or any Service
                                without the express prior written permission of an authorized representative of
                                Blocklight, as applicable, in each instance. For purposes of this TOS, "co-branding"
                                means to display a name, logo, trademark, or other means of attribution or
                                identification of any party in such a manner as is reasonably likely to give a user the
                                impression that such other party has the right to display, publish, or distribute
                                Blocklight, in whole or in part, and/or any content accessible within Blocklight. For
                                purposes of this TOS, "framing" refers to displaying any Blocklight webpage or Service
                                within a bordered area of another website, regardless of whether the address of the
                                originating Blocklight is visible. You further agree to cease any unauthorized
                                co-branding or framing immediately upon notice from Blocklight.
                            </p>
                            <p dir="ltr">
                                <b>14. Disclaimer of Warranties</b>
                            </p>
                            <p dir="ltr">
                                The use of the Service is at your sole risk. The Service is provided on an "as is" and
                                "as available" basis. BLOCKLIGHT EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND,
                                WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
                                MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
                            </p>
                            <p dir="ltr">
                                BLOCKLIGHT MAKES NO WARRANTY THAT (1) THE SERVICE WILL MEET YOUR REQUIREMENTS, (2) THE
                                SERVICE WILL BE UNINTERRUPTED, TIMELY SECURE, OR ERROR-FREE, (3) THE RESULTS OF USING
                                THE SERVICE WILL BE ACCURATE OR RELIABLE, (4) THE QUALITY OF ANY PRODUCTS, SERVICES,
                                INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED THROUGH YOUR USE OF THE SERVICE
                                WILL MEET YOUR EXPECTATIONS, OR (5) THAT THE SOFTWARE WILL BE ERROR-FREE AND/OR ANY
                                ERRORS IN THE SOFTWARE WILL BE CORRECTED.
                            </p>
                            <p dir="ltr">
                                No advice or information, whether oral or written, obtained by you from Blocklight or
                                through or from the Service shall create a warranty not expressly stated in these TOS.
                            </p>
                            <p dir="ltr">
                                <b>15. Limitation of Liability</b>
                            </p>
                            <p dir="ltr">
                                BLOCKLIGHT, INCLUDING ANY OF ITS SUBSIDIARIES, AFFILIATES, LICENSORS, SERVICE
                                PROVIDERS, CONTENT PROVIDERS, EMPLOYEES, AGENTS, OFFICERS, AND DIRECTORS WILL NOT BE
                                LIABLE FOR ANY INCIDENTAL, DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, SPECIAL,
                                EXEMPLARY, OR OTHER DAMAGES, INCLUDING LOSS OF REVENUE OR INCOME, PAIN AND SUFFERING,
                                EMOTIONAL DISTRESS, OR SIMILAR DAMAGES, EVEN IF BLOCKLIGHT HAS BEEN ADVISED OF THE
                                POSSIBILITY OF SUCH DAMAGES, SUCH DAMAGES WERE REASONABLY FORESEEABLE OR BLOCKLIGHT WAS
                                NEGLIGENT. IN NO EVENT WILL THE COLLECTIVE LIABILITY OF BLOCKLIGHT AND ITS
                                SUBSIDIARIES, AFFILIATES, LICENSORS, SERVICE PROVIDERS, CONTENT PROVIDERS, EMPLOYEES,
                                AGENTS, OFFICERS, AND DIRECTORS, REGARDLESS OF THE FORM OF ACTION (WHETHER IN CONTRACT,
                                TORT, OR OTHERWISE), EXCEED THE GREATER OF $100 OR THE AMOUNT THAT YOU HAVE PAID TO
                                BLOCKLIGHT FOR THE APPLICABLE SERVICE OUT OF WHICH SUCH LIABILITY FIRST AROSE.
                                ALL CLAIMS MUST BE MADE WITHIN ONE YEAR OF THE APPLICABLE ACTIVITY OR FOREVER BE BARRED.
                            </p>
                            <p dir="ltr">
                                <b>16. Special Admonition for Services Relating to Financial Matters</b>
                            </p>
                            <p dir="ltr">
                                If you receive or request any news, messages, or other information from the Service
                                concerning stock quotes, companies, investments, or securities, remember that the
                                Service is provided for professional purposes only, and no Content included or
                                information made available by the Service is intended for trading or investing
                                purposes. Blocklight and its licensors shall not be responsible or liable for the
                                accuracy, usefulness or availability of any information transmitted or made available
                                via the Service, and shall not be responsible or liable for any trading or investment
                                analyses, decisions or actions made by you or any users based on such information or
                                Content.
                            </p>
                            <p dir="ltr">
                                <b>17. Personally Identifiable Information/</b>
                            </p>
                            <p dir="ltr">
                                Blocklight cautions you against giving out any personally identifying information about
                                yourself, your children, or any other person in any Service. In an effort to preserve
                                your privacy, Blocklight agrees that it will treat any personally identifying
                                information that you submit through this site in accordance with the terms outlined in
                                its Privacy Policy located at [insert web address/link].
                            </p>
                            <p dir="ltr">
                                <b>18. Disclosure of Your Information</b>
                            </p>
                            <p dir="ltr">
                                It is our policy to release a user’s personal identifying information and any other
                                information when we reasonably believe such disclosure is appropriate to comply with
                                applicable law, to enforce any of our contracts or agreements, and/or to protect the
                                rights, property or safety of our users and customers, in response to a governmental
                                authority request or legal process, or for purposes of fraud protection and/or any
                                other legitimate legal or business purpose now
                                or hereafter existing.
                            </p>
                            <p dir="ltr">
                                <b>19. Disputes</b>
                            </p>
                            <p dir="ltr">
                                If there is any dispute about or involving the Blocklight and/or the Service, you agree
                                that any dispute shall be governed by the laws of the State of Illinois, without regard
                                to conflict of law provisions. You agree to personal and exclusive jurisdiction
                                by and venue in the state and federal courts of Cook County, Illinois.
                            </p>
                            <p dir="ltr">
                                YOU AGREE THAT REGARDLESS OF ANY STATUTE OR LAW TO THE CONTRARY, ANY CLAIM OR CAUSE OF
                                ACTION ARISING OUT OF OR RELATED TO USE OF THE SERVICE OR THESE TOS MUST BE FILED
                                ITHIN ONE (1) YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION AROSE OR BE FOREVER BARRED.
                            </p>
                            <p dir="ltr">
                                <b>20. Miscellaneous Terms; General Information</b>
                            </p>
                            <p dir="ltr">
                                These TOS govern the terms and conditions of your use of the Service, and supersede all
                                prior or contemporaneous communications and proposals, whether electronic, oral or
                                written, between you and Blocklight with respect to the Service and this website.
                                Notwithstanding the foregoing, you may also be subject to additional terms and
                                conditions, posted policies (including but not limited to the Privacy Policy),
                                guidelines, or rules that may apply when you use or purchase
                                certain elements of the Service, affiliate or advertiser services, third-party content
                                or third-party software. Blocklight may revise these TOS at any time by updating this
                                posting. Accordingly, you should review the TOS periodically to determine if any
                                changes have been made. Your continued use of this website after any changes have been
                                made to the TOS signifies and confirms your acceptance of any such changes or
                                amendments to these TOS.
                            </p>
                            <p dir="ltr">
                                The failure of Blocklight to exercise or enforce any right or provision of this
                                Agreement shall not operate as a waiver of such right or provision. Any waiver of the
                                TOS by Blocklight must be in writing and signed by an authorized representative of
                                Blocklight to be effective.
                            </p>
                            <p dir="ltr">
                                If any provision of these TOS is found by a court of competent jurisdiction to be
                                invalid, the parties' intentions as reflected in the provision, and the other
                                provisions of these TOS, shall remain in full force and effect.
                            </p>
                            <p dir="ltr">
                                The section titles in the Agreement are for convenience only and have no legal or
                                contractual effect.
                            </p>
                            <p dir="ltr">
                                Nothing contained in these TOS shall be construed to constitute either party as a
                                partner, joint venturer, employee or agent of the other party, nor shall either party
                                hold itself out as such. Neither party has any right or authority to incur, assume or
                                create, in writing or otherwise, any warranty, liability or other obligation of any
                                kind, express or implied, in the name of or on behalf of the other party, it being
                                intended by both parties that each is and shall remain independent contractors (to the
                                extent applicable), and therefore, responsible for its own actions.
                            </p>
                            <p dir="ltr">
                                Please immediately report any violations of these TOS to Blocklight at
                                <a href="mailto:support@blocklight.io">support@blocklight.io</a>.
                            </p>
                    </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}