{% extends "_layouts/domain_landing.html" %}
{% block page_class %}use-cases-page{% endblock %}

<!-- Updated Page Blocks -->
{% block page_title %}Use Cases - Blocklight{% endblock %}

<!-- Updated Meta Data Blocks -->
{% block title %}<meta name="title" content="Use Cases - Blocklight"/>{% endblock %}
{% block description %}<meta name="description" content="Use cases for how we help you grow your business and visualize all your business data in one place. - Blocklight" />{% endblock %}
{% block facebook-url %}<meta property="og:url" content="https://blocklight.io/use_cases/"/>{% endblock %}
{% block facebook-title %}<meta property="og:title" content="Use Cases - Blocklight"/>{% endblock %}
{% block facebook-description %}<meta property="og:description" content="Use cases for how we help you grow your business and visualize all your business data in one place. - Blocklight"/>{% endblock %}
{% block twitter-title %}<meta name="twitter:title" content="Use Cases - Blocklight">{% endblock %}
{% block twitter-description %}<meta name="twitter:description" content="Use cases for how we help you grow your business and visualize all your business data in one place. - Blocklight">{% endblock %}

{% block content %}
<!-- Start Content -->
<!-- Pre-Loader-->
<div class="spinner-wrapper">
    <div class="bubblingG">
        <span id="bubblingG_1"></span>
        <span id="bubblingG_2"></span>
        <span id="bubblingG_3"></span>
    </div>
</div>
<!-- End Pre-Loader-->

<!-- Use Cases Header -->
<section class="usecase usecase-background supporting-top-img" id="main">
    <div class="container wow fadeInDown  animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">
        <div class="row usecase-body" id="main-body">

            <div class="usecase-header">
                <h2>IT'S YOUR BIG PICTURE, WE JUST MAKE IT EASY TO SEE</h2>
            </div>
            <div class="usecase-support">
                <h5>Our analytics platform is a one-stop shop that integrates with all your business tools and makes
                    running your business easier. Connect your accounts and get all your insights in one place, not in
                    10 different browser tabs. Use our default metrics or build custom ones to see insights across
                    multiple accounts. Don't settle for insights from just one platform when we can help you see how
                    everything impacts, everything.
                </h5>
            </div>
        </div>
    </div>
    <!-- End row  -->
</section>

<section class="usecase-info" id="usecase-info">
        <div class = "usecase-info-section">
            <img src="/static/images/Use_Cases_1.png" />
            <div class ="use-case-body-right">
                <h2>SALES DISTRIBUTION &amp; DEMOGRAPHICS</h2>
                <p>Audiences are dynamic. The customers you served today will have different expectations by
                    tomorrow. See where your revenues are coming from and predict purchasing behavior.</p>
                <div class = "usecase-link-list">
                    <h4>Customer History</h4>
                    <h4>Orders by Location</h4>
                    <h4>Community Age Distribution</h4>
                </div>
            </div>
        </div>

        <div class = "usecase-info-section">
            <img src="/static/images/Use_Cases_2.png" />
            <div class = "use-case-body-left">
                <h2 class="text-light">FIRST IMPRESSIONS</h2>
                <p class="text-light">Online connections can make or break you within the first 5 seconds.
                    Monitor your website traffic, returning users, session duration, and other key metrics.
                    Your customers should come for the product and stay for the business.</p>
                <div class = "usecase-link-list-left">
                    <h4>Page Impressions</h4>
                    <h4>Unique Website Views</h4>
                    <h4>Profile Followers</h4>
                </div>
            </div>
        </div>

        <div class = "usecase-info-section">
            <img src="/static/images/Use_Cases_3.png" />
            <div class = "use-case-body-right">
                <h2>CONSUMER ENGAGEMENT</h2>
                <p>A key to e-commerce business stability is building meaningful relationships with your customers.
                    Establish brand loyalty by understanding your traffic and online customer engagement, then
                    adapt to keep them interested.</p>
                <div class = "usecase-link-list">
                    <h4>Website Sessions</h4>
                    <h4>Campaign Analyses</h4>
                    <h4>Visitor Engagement</h4>
                </div>
            </div>
        </div>

        <div class = "usecase-info-section">
            <img src="/static/images/Use_Cases_4.png" />
            <div class = "use-case-body-left">
                <h2>CONTROL YOUR EXPENSES</h2>
                <p>Stop being surprised by charges and unexpected expenses. Maximize your profits by understanding your
                    sales margins, minimizing your waste, and keeping better tabs on your expenditures.</p>
                <div class = "usecase-link-list-left">
                    <h4>Profit Margin</h4>
                    <h4>Shipment Cost vs Value</h4>
                    <h4>Refund Costs</h4>
                </div>
            </div>
        </div>

        <div class = "usecase-info-section">
            <img src="/static/images/Use_Cases_5.png" />
            <div class = "use-case-body-right">
                <h2>CORRELATION AND CAUSATION</h2>
                <p>See the relationships between metrics without having to use complex spreadsheets. Use our
                    platform to analyze metrics from separate accounts to see if there is a business relationship or
                    trend.</p>
                <div class = "usecase-link-list">
                    <h4>Discounts vs Emails Sent</h4>
                    <h4>Orders vs Shipping Costs</h4>
                    <h4>Sales vs Marketing Campaigns</h4>
                </div>
            </div>

        </div>

        <div class = "usecase-info-section">
            <img src="/static/images/Use_Cases_6.png" />
            <div class = "use-case-body-left">
                <h2>CUSTOMIZED KPI's</h2>
                <p>Only you know what truly defines success for your e-commerce business. Create metrics and
                    build custom dashboards to see the key performance indicators that are right for you.</p>
                <div class = "usecase-link-list-left">
                    <h4>Average Sales Per Period</h4>
                    <h4>Marketing Reach</h4>
                    <h4>Email Campaign Open Rates</h4>
                </div>
            </div>
        </div>
</section>
{% endblock %}
