{% extends "_layouts/login.html" %}
{% load account socialaccount %}
{% load i18n %}
{% block page_title %}Blocklight - Sign Up{% endblock %}
{% block page_class %}signup-page{% endblock %}
{% block head_title %}Sign Up for Blocklight{% endblock %}

{% block content %}
<div class="wrapper-page">
  <div
    class="signup-background countdown-background"
    id="beta_signup_complete_content"
  >
    <section id="beta-signup-complete">
      <div class="beta-signup-complete-header text-dark">
        <h1 style="color: #000" >Thank you,</h1>
        <h3 style="color: #000">
          If a Blocklight account with that e-mail address exists, you will receive a link to change your password.
        </h3>
      </div>
    </section>
  </div>
</div>

{% endblock %}