{% extends "_layouts/login.html" %}
{% load account socialaccount %}
{% load i18n %}
{% block page_title %}Blocklight - New Password{% endblock %}
{% block page_class %}signup-page{% endblock %}
{% block head_title %}New password for Blocklight{% endblock %}

{% block content %}
<div class="wrapper-page">
  <div class="signup-background countdown-background" id="beta_signup_content">
    <section class="beta-signup-page" id="signup">
      
      <div class="container beta-signup-container">
           {% for message in messages %}
      <div class="text-center text-light alert {{ message.tags }}" style="margin-top: 25px" role="alert">
        {{ message }}
      </div>
      {% endfor %}
        <div class="beta_signup_form_container">

          <h3 style="color: #fff">Forgot Password:  Please create your new account password</h3>
           <span style="color: #fff">password must be at least 8 characters, include 1 alphanumeric, and 1 capital letter</span>
          <form class="beta_signup_form" id="beta_signup_form" method="post" action="/accounts/new_password/">
            {% csrf_token %}
            <div class="signup-user-info">

              <div class="signup-input">
                <label for="password">Password <span>*</span></label>
                <input class="form-control" required type="password" id="password" name="password" />
              </div>
              <div class="signup-input">
                <label htmlFor="password2">Confirm Password <span>*</span></label>
                <input class="form-control" type="password" id="password2" name="confirm_password" />
              </div>
            </div>
            <div class="button-signup-container">
              <button type="submit" id="submit-beta-signup" class="btn_signup_beta btn_orange">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}