Account activation email{% extends "_layouts/login.html" %}
{% load account socialaccount %}

{% load i18n %}

{% block css %}
{{block.super}}

{% endblock css %}

{% block page_title %}Blocklight - Login{% endblock %}
{% block page_class %}login-page{% endblock %}

{% block head_title %}Log in{% endblock %}

{% block content %}
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

    <div class="wrapper-page">
        <div class="countdown-background">

            <section class="login" id="login">
                <div class="container">

                    <!-- Login form -->
                    <form class="form input-group" method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        {% csrf_token %}

                        <div class="text-center">
                            <span>Account activation invalid!!!</span>
                        </div>

                        <!-- Username -->
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                                <input name="login" id="id_login" class="form-cus form-control" type="text" placeholder="Username or email" required="">
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                                <input name="password" id="id_password" class="form-cus form-control" style="margin-top:15px" type="password" placeholder="Password" required="">
                            </div>
                        </div>

                        <div class="row login-row">

                            <!-- Remember me -->
                            <div class="col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-offset-1 col-xs-3 remember-me">
                                <div class="checkbox checkbox-primary">
                                    <input id="id_remember" type="checkbox" name="remember">
                                    <label for="id_remember" class="text-muted">
                                        Remember me
                                    </label>
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="col-md-12 col-sm-12 col-xs-1 login-button">
                                <input type="submit" class="btn-fill btn-standard btn btn-cus" value="Log In" name="submit">
                            </div>
                        </div>

                        <!-- Forgot password / create account -->
                        <div class="row forgot-password">
                            <div class="col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-offset-2 col-xs-8 out-links" style="text-align: center">
                                <a href="/accounts/password/reset/" class="text-muted">
                                    <i class="fa fa-lock m-r-5"> </i> Forgot your password?</a>
                            </div>
                        </div>
                        <div class="row create-account">
                            <div class="col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-offset-2 col-xs-8 out-links" style="text-align: center">

                                <a href="/#register" class="text-muted">Pre-register for Blocklight</a>
                            </div>

                        </div>

                    </form>
                </div>
            </section>

        </div>
    </div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
