{% extends "_layouts/login.html" %}
{% load account socialaccount %}
{% load i18n %}
{% block page_title %}Blocklight - Sign Up{% endblock %}
{% block page_class %}signup-page{% endblock %}
{% block head_title %}Sign Up for Blocklight{% endblock %}

{% block content %}

    <section class="signup-complete">
      <div class="beta-signup-complete-header text-dark">
        <h1 style="color: #000" >Thank you for signing up!</h1>
        <h3 style="color: #000">
          Please verify your email address to continue the sign up process.
        </h3>
      </div>
    </section>



{% endblock %}