{% extends "_layouts/login.html" %}
{% load account socialaccount %}
{% load i18n %}
{% block page_title %}Blocklight - Sign Up{% endblock %}
{% block page_class %}signup-page{% endblock %}
{% block head_title %}Sign Up for Blocklight{% endblock %}

{% block content %}
<div class="wrapper-page">
    <div class="signup-background countdown-background" id = "beta_signup_complete_content">
        <section id = "beta-signup-complete">
        <div class = "beta-signup-complete-header">
            <h1>Oops!</h1>
            <h3>There was a problem with a submission, please try again. If you receive another error please contact us at support@blocklight.io.</h3>
        </div>
    </section>

    </div>
</div>

{% endblock %}




















