<!DOCTYPE html>
<html lang="en">

<!-- ============================================================== -->
<!-- Header -->
<!-- ============================================================== -->
<head>
    <meta charset="utf-8">
    <script src="/static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/static/js/highchartsv6.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/custom_highcharts.css">
</head>

<!-- ============================================================== -->
<!-- Body -->
<!-- ============================================================== -->
<body style="overflow:hidden">

    <!-- ============================================================== -->
    <!-- Empty container -->
    <!-- ============================================================== -->
    <div id="container"> </div>


    <!-- ============================================================== -->
    <!-- Where the magic happens -->
    <!-- ============================================================== -->
    <script type="text/javascript">

        // BEGIN chart styling
        Highcharts.theme = {
            colors: ['#e98535','#dd403a', '#456990', '#dfd6a7', '#36413e','#698996','#c17c74', '#247BA0','#bcac9b','#ffe0b5'],
            chart: {
                backgroundColor:null
            },
            title: {
                style: {
                    color: '#ffffff',
                }
            },
            subtitle: {
                style: {
                    color: '#ffffff',
                }
            },
            xAxis: {
                gridLineColor: '#ffffff',
                lineColor: '#ffffff',
                minorGridLineColor: '#ffffff',
                tickColor: '#ffffff',
                plotLines: [{
                    color: '#ffffff'
                }],
                labels: {
                    style: {
                        color: '#ffffff',
                    }
                }
            },
            yAxis: [{
                gridLineColor: '#ffffff',
                lineColor: '#ffffff',
                minorGridLineColor: '#ffffff',
                tickColor: '#ffffff',
                plotLines: [{
                    color: '#ffffff'
                }],
                labels: {
                    style: {
                        color: '#ffffff',
                    }
                }
            }]
        };
        Highcharts.setOptions(Highcharts.theme);

        // BEGIN chart template
        var chart = new Highcharts.Chart('container', {

            credits: {
                enabled: false
            },
            title: {
                text: 'Solar Employment Growth by Sector, 2010-2016'
            },

            subtitle: {
                text: 'Source: thesolarfoundation.com'
            },

            yAxis: {
                title: {
                    text: 'Number of Employees',
                    style: {
                        color: '#ffffff'
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -230,
                y: 60,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2010
                }
            },

            series: [{
                name: 'Installation',
                data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
            }, {
                name: 'Manufacturing',
                data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
            }, {
                name: 'Sales & Distribution',
                data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
            }, {
                name: 'Project Development',
                data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
            }, {
                name: 'Other',
                data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            },

            

        }); // END chart template

    </script>

</body>
</html>